<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="powx.azuredevops.azdofeed" value="https://pkgs.dev.azure.com/vupham2002/powx/_packaging/powx.azuredevops.azdofeed/nuget/v3/index.json" />
  </packageSources>
</configuration>
